#header-bar {
    height: 90px;
    background-color: #1a237e;
    opacity: 0.6;
}

#title-div {
    height: 170px;
    border-style: solid;
    border-top-style: none;
    border-width: 18px;
    border-color: rgba(26, 35, 122, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    background-color: #1a237e;
    color: white;
    position: absolute;
    top: 0;
    left: 320px;
    right: 320px;
}

#title {
    margin-top: 18px;
    margin-left: 30px;
}

#count-area {
    width: 400px;
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
}

.count {
    float: left;
    font-size: 40px;
    width: 40px;
    height: 60px;
    margin-left: 20px;
    text-align: center; 
}

.yellow {
    background: linear-gradient(to bottom,  #ec9c02 0%,#ec9c02 50%,#ffb300 50%,#ffb300 100%);
}

.blue {
    margin-top: 15px;
    background: linear-gradient(to bottom,  #3186dd 0%,#3186dd 50%,#64b5f6 50%,#64b5f6 100%);
}

#chart-div {
    margin-top: 140px;
}

.chart-area {
    width: 50%;
    float: left;
}

.chart {
    margin-left: 3vw;
    margin-right: 3vw;
    height: 70vh;
}